/*CSS*/
body{
	margin:0px;
	padding:0px;
	background-color:#fff;

}
/*Esqueleto do site*/
.principal{
	width:1875px;
	height:780px;
	border: solid 0px black;
	margin-left:auto;
	margin-right:auto;
	}
#cabecalho{
	width:100%;
	height:150px;
	background-color:#4B0082;
	margin-bottom:10px;
}
.divauxcabecalho{
	width:1900px;
	height:150px;
	margin-left:auto;
	margin-right:auto;
}
.separadorconteudo{
	width:1375px;
	height:453px;
	margin-right:auto;
	margin-left:auto;
	padding-top:1px;
}



.selectImagem{
	width:300px;
	height:400px;
	background-color:pink;
}



.produtos{
	width:1800px;
	height:770px;
	margin-left:auto;
	margin-right:auto;
	
}
.divisao{
	width:1125px;
	height:680px;
	margin-top:50px;
	background-color:;
	border:solid 0px black;
	
}
.colunasdasdivs{
	width:350px;
	height:500px;
	background-color:white;
	float:left;
	margin-left:5px;
	margin-top:15px;
}
.rodape{
	width:100%;
	height:380px;
	background-color:#666;
	float:left;
}

/**Construção do cabeçalho**/

.logo{
	width:400px;
	height:148px;
	border: solid 0px black;
	float:left;
}
.menu{
	width:950px;
	height:148px;
	border: solid 0px black;
	float:left;
	font-family:Arial;
	
}
.login{
	width:550px;
	height:148px;
	border: solid 0px black;
	float:left;
	}
#teste{
	margin-top:80px;
	margin-left:150px;
	color:white;
	font-family:arial;
}
.menu ul {
	padding:0px;
	margin:0px;
	list-style:none;

}
.menu ul li { 
	display: inline; 
	float:left;
	

}

.menu ul li a {
	padding: 2px 10px;
	display: inline-block;
	color: #333;
	text-decoration: none;
	border-bottom:1px solid #4B0082;
	margin-top:90px;
	margin-left:15px;
	font-size:20px;
	color:#fff;
}
.menu ul li .a {
	padding: 2px 10px;
	display: inline-block;
	color: #CDCDCD;
	text-decoration: none;
	border-bottom:3px solid #EDEDED;
	margin-top:5px;
	margin-left:10px;
	font-size:20px;

}
.menu ul li a:hover {
	color: #fff;
	border-bottom:1px solid #fff;
}
.menu ul li .a:hover {
	color: #000;
	border-bottom:3px solid black;
}

.submenu{
	height:100px;
	background-color:#fff;
	display:none;
	z-index:800;
	width:150px;
	font-size:20px;
	border-radius:10px;
	

}
.menu li:hover .submenu{
	display:block;
	position:absolute;
	margin-top:1px;
	border: solid 0px black;

}
/*Construção do Conteudo*/

.conteudodiv{
	width:300px;
	height:600px;
	background-color:white;
	float:left;
	box-shadow:10px 10px 30px #CDCDCD;
	margin-left:200px;
	margin-top:10px;
}
.imagensvendas{
	width:100%;
	height:400px;
	text-align:center;
	font-size:40px;
	margin-top:10px;
	color:#000;
}
.titulodavenda{
	width:100%;
	height:50px;
	font-size:22px;
	text-align:center;
}
.precodavenda{
	width:100%;
	height:20px;
}
.carrinhodecompra{
	width:100%;
	height:50px;
	
}
.btn{
	margin-left:100px;
	margin-top:15px;
	padding:10px;
	font-family:arial;
	text-transform:uppercase;
	font-weight:bold;
	border:none;
	cursor:pointer;
}

.btn2{
	color:#fff;
	background-color:rgba(75,0,130, 0.8);
	box-shadow:8px 8px 8px #CDCDCD;
}
.btn2:hover{
	background-color:rgba(75,0,130, 0.5);
}
.btn2:active{
	box-shadow:none;
	position:relative;
	top:5px;
}
/*Construção rodape*/
.rodape{
	width:100%;
	height:580px;
	background-color:#666;
	float:left;
}
.controladorrodape{
	width:1900px;
	height:580px;
	margin-left:auto;
	margin-right:auto;
}
.fotorodape{
	width:1100px;
	height:580px;
	float:left;
	background-image:url("../Imagens/linha.fw.png");
	background-repeat: no-repeat;
}
.conteudorodapeesquerda{
	width:250px;
	height:200px;
	margin-top:380px;
	float:right;
	border-right:1px solid black;
}
.conteudorodapedireita{
	width:700px;
	height:580px;
	float:left;
}
.divrodape{
	width:250px;
	height:200px;
	border-right:1px solid black;
	float:left;
	margin-left:50px;
}
.titulorodape{
	color:#fff;
	font-size:30px;
}
.conteudorodape{
	font-size:20px;
	color:#fff;
}
.controlador{
	width:550px;
	height:380px;
	margin-left:80px;
}
.espacopesquisar{
	margin-top:10px;
	width:550px;
	height:335px;
}

/*Final*/
#criador{
	width:100%;
	height:20px;
	background-color:#CDCDCD;
	text-align:center;
}